canvas{
	background-color:#111111;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
canvas:focus{
	outline:1px solid grey;
	outline-offset:2px;
}

body{
	color:white;
	background-color:black;
	margin-top:2.5cm;
	/*padding:0;*/
}